@media (max-width: 768px) {


    input[type='text'] {
        width: 90%;
    }
}


@media only screen
and (min-width: 768px)
and (max-width: 1200px) {
    .chati {
        left: 30%;
    }

    .head-btn {
        margin: 22em 0 .1em 0em;
    }
}


@media only screen
and (min-width: 768px)
and (max-width: 1024px)
and (orientation: portrait) {
    .site-name img {
        width: 10em;
    }

    #team-section {
        height: auto;
    }

    #team-section .team-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
        gap: 20px;
    }

    .title-container {
        font-size: 4vh !important;
        font-weight: 400;
        margin-top: -3vh !important;
        padding-bottom: 5vh;
        text-align: center;
        color: #f1c95bb9 !important;
    }

    .info-text {
        font-size: 0.7rem;
        margin-top: 1px;
        transition: opacity 0.5s ease;
        opacity: 0;
        color: #e0c16bb7;
    }

    .pricing-box {
        font-size: 0.8rem;
        position: absolute;
        top: var(--y);
        left: var(--x);
        display: flex;
        overflow: hidden;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        box-sizing: border-box;
        width: 15vh;
        max-height: 12vh;
        padding: 10px;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        transition: max-height 0.5s ease, padding 0.5s ease;
        animation: float 4s ease-in-out infinite;
        animation-delay: var(--delay);
        text-align: center;
        color: #f1c95bb9;
        border: 0.15vh solid #926c2581;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: rgba(53, 31, 0, 0.288);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        text-shadow: 0 0 10px #f1c95b52, 0 0 20px #f1c95b65, 0 0 30px #f1c95bb9;
        backdrop-filter: blur(1vh);
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));

    }

    .title-container h2 {
        font-size: 0.2em;
    }

    .phase {
        font-size: 0.7rem;
        display: flex;
        overflow: hidden;
        align-items: center;
        flex-direction: column;

        justify-content: center;
        box-sizing: border-box;
        width: 10vh;
        height: 10vh;
        padding: 10px;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        transition: transform 0.3s ease;
        text-align: center;
        text-decoration: none;
        border: 2px solid #666666;
        border: 0.15vh solid #926c2581;
        border-radius: 10px;
        background-color: rgba(53, 31, 0, 0.288);
        backdrop-filter: blur(1vh);
    }

    body {
        font-family: 'Unbounded', sans-serif;
        font-size: 10px;
        font-weight: 200;
        position: relative;
        overflow-x: hidden;
        height: 100%;
        margin: 0;
        padding: 0;
        background: #000000;
    }

    .landing h1 {
        font-size: 26px !;
        font-weight: 300;
        margin: 9px 0 0px 0;
        text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    }

    .landing-text {
        font-weight: 700;
        line-height: 1.2em;
        width: 85%;
        margin: 0.1em 0 .8em 2.5em;
        color: rgba(255, 255, 255, 0.479);
    }

    .landing-text p {
        padding-bottom: 20px;
    }

    .more {
        margin-bottom: 100px;
    }

    .more p {
        font-size: 17px;
    }

    .head-btn {
        position: absolute;
        z-index: 1;
        margin: 23em 0 6.1em 2.8em;
    }

    .btn-primary {
        font-size: 17px;
        line-height: 30%;
        display: none;
        display: none;
        overflow: hidden;
        height: 20px;
        margin: 30px -15px 10px;
        margin-right: 30px;
        padding: 10px 25px;
        transition: all 0.4s;
        color: rgb(18, 18, 22);
        color: #f1c95b;
        border: 2px solid #fbd22c;
        border: 0.15vh solid #926c2581;

        border-radius: 3vh;
        border-radius: 15px;
        background: #fbd22c;
        background-color: #2e241b;
        background-color: rgba(53, 31, 0, 0.288);
        backdrop-filter: blur(1vh);
    }

    .option {
        font-size: 14px;
        min-width: 80px;
        margin-right: 5px;
        padding: 5px;
        transition: all 0.4s;
        text-transform: uppercase;
        color: #ffffff;
    }

    .Landing-Con {
        position: absolute;
        top: 23%;
        right: 20%;
        overflow: hidden;
        width: 70%;
        height: 14em;
        border: 0.15vh solid #926c2581;

        border-radius: 15px;
        background-color: #2e241b;
        background-color: rgba(53, 31, 0, 0.288);
        mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));
        backdrop-filter: blur(1vh);
    }

    .Landing-Con::before {
        position: absolute;
        top: 0;
        left: -85%;
        width: 20%;
        height: 100%;
        content: '';
        transform: skewX(-45deg);
        animation: shiny 25s infinite;
        background: rgba(190, 137, 67, 0.041);
        backdrop-filter: blur(1vh);
    }

    .more {
        margin-bottom: 50px;
    }

    #intro {
        padding: 30px 0 50px;
    }

    #intro h2, #feature-2 h2 {
        font-weight: 150;
        text-align: center;
    }

    #intro p, #feature-2 p {
        text-align: center;
    }

    .btn-section {
        text-align: center;
    }

    #feature {
        padding-top: 75px;
    }

    .row-feat {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    #feature-2 {
        padding: 80px 0 100px;
    }

    .feature-2-pic {
        margin-top: 40px;
    }

    #client img {
        max-height: 40px;
        margin: 10px 0 10px;
    }
}


@media only screen
and (min-width: 768px)
and (max-width: 1024px)
and (max-width: 1024px)
and (orientation: landscape) {
    .site-name img {
        width: 30vh;
        height: auto;
    }

    #team-section {
        height: auto;
    }

    #team-section .team-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
        gap: 20px;
    }

    .title-container {
        font-size: 4vh !important;
        font-weight: 400;
        margin-top: -3vh !important;
        padding-bottom: 5vh;
        text-align: center;
        color: #f1c95bb9 !important;
    }

    .info-text {
        font-size: 0.7rem;
        margin-top: 1px;
        transition: opacity 0.5s ease;
        opacity: 0;
        color: #e0c16bb7;
    }

    .pricing-box {
        font-size: 0.8rem;
        position: absolute;
        top: var(--y);
        left: var(--x);
        display: flex;
        overflow: hidden;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        box-sizing: border-box;
        width: 20vh;
        max-height: 12vh;
        padding: 1px;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        transition: max-height 0.5s ease, padding 0.5s ease;
        animation: float 4s ease-in-out infinite;
        animation-delay: var(--delay);
        text-align: center;
        color: #f1c95bb9;
        border: 0.15vh solid #926c2581;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: rgba(53, 31, 0, 0.288);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        text-shadow: 0 0 10px #f1c95b52, 0 0 20px #f1c95b65, 0 0 30px #f1c95bb9;
        backdrop-filter: blur(1vh);
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));

    }

    .title-container h2 {
        font-size: 0.2em;
    }

    .phase-info {
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        flex-direction: column;

        justify-content: center;
        box-sizing: border-box;
        width: 120vh;
        height: 45vh;
        padding: 10px;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        transition: transform 0.3s ease;
        text-align: center;
        border: 2px solid #666666;
        border: 0.15vh solid #926c2581;
        border-radius: 10px;
        background-color: rgba(53, 31, 0, 0.288);
        background-color: #040f1300;
        background-image: url('/images/twitch.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        backdrop-filter: blur(1vh);

    }

    .phase {
        font-size: 0.7rem;
        display: flex;
        overflow: hidden;
        align-items: center;
        flex-direction: column;

        justify-content: center;
        box-sizing: border-box;
        width: 16vh;
        height: 16vh;
        padding: 10px;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        transition: transform 0.3s ease;
        text-align: center;
        text-decoration: none;
        border: 2px solid #666666;
        border: 0.15vh solid #926c2581;
        border-radius: 10px;
        background-color: rgba(53, 31, 0, 0.288);
        backdrop-filter: blur(1vh);
    }

    .chati {
        position: relative;
        z-index: 1;
        width: 60vh;
        margin: 25px 0;
        margin-left: 120%;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;

        user-select: none;
        pointer-events: none;
        mask-image: linear-gradient(to bottom, transparent, black 10%, black 80%, transparent);
    }

    body {
        font-family: 'Unbounded', sans-serif;
        font-size: 10px;
        font-weight: 200;
        position: relative;
        overflow-x: hidden;
        height: 100%;
        margin: 0;
        padding: 0;
        background: #000000;

    }

    .landing h1 {
        font-size: 26px !;
        font-weight: 300;
        margin: 9px 0 0px 0;
        text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    }

    .landing-text {
        font-weight: 700;
        line-height: 1.2em;
        width: 85%;
        margin: 0.1em 0 .8em 2.5em;
        color: rgba(255, 255, 255, 0.479);
    }

    .landing-text p {
        padding-bottom: 20px;
    }

    .more {
        margin-bottom: 100px;
    }

    .more p {
        font-size: 17px;
    }

    .head-btn {
        position: absolute;
        z-index: 1;
        margin: 22em 0 6.1em 20.6em;
    }

    .option {
        font-size: 14px;
        min-width: 80px;
        margin-right: 5px;
        padding: 5px;
        transition: all 0.4s;
        text-transform: uppercase;
        color: #ffffff;
    }

    .Landing-Con {
        position: absolute;
        top: 23%;
        left: 20%;
        overflow: hidden;
        width: 50em;
        height: 18em;
        border: 0.15vh solid #926c2581;

        border-radius: 15px;
        background-color: #2e241b;
        background-color: rgba(53, 31, 0, 0.288);
        mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));
        backdrop-filter: blur(1vh);
    }

    .Landing-Con::before {
        position: absolute;
        top: 0;
        left: -85%;
        width: 20%;
        height: 100%;
        content: '';
        transform: skewX(-45deg);
        animation: shiny 25s infinite;
        background: rgba(190, 137, 67, 0.041);
        backdrop-filter: blur(1vh);
    }

    .more {
        margin-bottom: 50px;
    }

    #intro {
        padding: 30px 0 50px;
    }

    #intro h2, #feature-2 h2 {
        font-weight: 150;
        text-align: center;
    }

    #intro p, #feature-2 p {
        text-align: center;
    }

    .btn-section {

    }

    #feature {
        padding-top: 75px;
    }

    .row-feat {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    #feature-2 {
        padding: 80px 0 100px;
    }

    .feature-2-pic {
        margin-top: 40px;
    }

    #client img {
        max-height: 40px;
        margin: 10px 0 10px;
    }

    .btn-primary {

        left: 0%;
    }

    .head-btn {
        position: absolute;
        z-index: 1;
        top: 18%;
        display: none;
        margin-left: 10em;
    }
}


@media (max-width: 767px) {


    #timer {
        font-size: 1em;
        color: #333333;
    }

    #timer span {
        font-weight: bold;
        color: #f1c95bb9;
    }


    #timer {
        font-size: 1.5em;
        color: #f1c95bb9;
    }


    #timer span {
        font-weight: bold;
        color: #f1c95bb9;
        text-shadow: 0 0 15px #d4992c4f;
    }


    #timer {
        font-size: 1.8em;
        color: #796224b9;
    }

    .phase span {
        font-size: 1em;
        position: absolute;
        top: 0.6em;
        text-decoration: none;
        color: #926c2581;
    }

    .pricing-container {
        position: relative;
        left: -3%;
        width: 100%;
        height: 40vh;
        margin-bottom: -5em;
    }

    #feature h2 {
        font-size: 3em;
        font-weight: 300;
        margin: 15px 0 15px 0;
    }

    .phase-info {
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        flex-direction: column;

        justify-content: center;
        box-sizing: border-box;
        width: 120vh;
        height: 35vh;
        padding: 10px;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        transition: transform 0.3s ease;
        text-align: center;
        border: 0.15vh solid #926c2581;
        border-radius: 10px;
        background-color: rgba(53, 31, 0, 0.288);
        background-color: #040f1300;
        background-image: url('/images/twitch.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        backdrop-filter: blur(1vh);

    }

    .site-name img {
        width: 10em;
        margin-top: 0.2em;
    }

    #team-section {
        height: auto;
    }

    #team-section .team-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
        gap: 20px;
    }

    .title-container {
        font-size: 3em !important;
        font-weight: 400;
        margin-top: -3vh !important;
        padding-bottom: 5vh;
        text-align: center;
        color: #f1c95bb9 !important;
    }

    .info-text {
        font-size: 0.7rem;
        margin-top: 1px;
        transition: opacity 0.5s ease;
        opacity: 0;
        color: #e0c16bb7;
    }

    .pricing-box {
        font-size: 0.8rem;
        position: absolute;
        top: var(--y);
        left: var(--x);
        display: flex;
        overflow: hidden;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        box-sizing: border-box;
        width: 15em;
        max-height: 12vh;
        padding: 10px;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        transition: max-height 0.5s ease, padding 0.5s ease;
        animation: float 4s ease-in-out infinite;
        animation-delay: var(--delay);
        text-align: center;
        color: #f1c95bb9;
        border: 0.15vh solid #926c2581;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: rgba(53, 31, 0, 0.288);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        text-shadow: 0 0 10px #f1c95b52, 0 0 20px #f1c95b65, 0 0 30px #f1c95bb9;
        backdrop-filter: blur(1vh);
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));

    }

    .title-container h2 {
        font-size: 0.2em;
    }

    .project-section h2 {
        font-size: 2em;
    }

    .arrow {
        font-size: 2em;
        width: 0.1em;
        height: 0.1em;
        color: rgba(95, 55, 0, 0.384);
    }

    .arrow {
        width: 0;
        height: 0;
        margin: 0 15px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid rgba(92, 54, 11, 0.466);
    }

    .phase-info {
        top: 1em;
        height: 25em;

    }

    .phase {
        font-size: 0.5rem;
        display: flex;
        overflow: hidden;
        align-items: center;
        flex-direction: column;

        justify-content: center;
        box-sizing: border-box;
        width: 10em;
        height: 10em;
        padding: 10px;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        transition: transform 0.3s ease;
        text-align: center;
        text-decoration: none;
        border: 2px solid #666666;
        border: 0.15vh solid #926c2581;
        border-radius: 10px;
        background-color: rgba(53, 31, 0, 0.288);
        backdrop-filter: blur(1vh);
    }

    #trophy-image {
        position: absolute;
        top: 10%;
        left: 50%;
        width: 4vh;
        transition: opacity 0.3s ease-in-out;
        transform: translateX(-50%);
        opacity: 0;
    }

    .chati {
        position: relative;
        z-index: 1;
        right: 30em;
        width: 40em;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;

        user-select: none;
        pointer-events: none;
        mask-image: linear-gradient(to bottom, transparent, black 10%, black 80%, transparent);
    }

    .pricing-container {
        position: relative;
        left: -7.25%;
        width: 100%;
        height: 40vh;
        margin-bottom: 5 2vh;
    }

    body {
        font-family: 'Unbounded', sans-serif;
        font-size: 0.8em;
        font-weight: 200;
        position: relative;
        overflow-x: hidden;

        height: 100%;
        margin: 0;
        padding: 1em;
        background: #000000;
    }

    .landing h1 {
        font-size: 26px !;
        font-weight: 300;
        margin: px 0 0px 0;
        text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    }

    .landing-text {
        font-weight: 700;
        line-height: 1.2em;
        display: none;
        width: 85%;
        margin-top: 5em;
        color: rgba(255, 255, 255, 0.479);
    }

    .landing-text p {
        padding-bottom: 20px;
    }

    .more {
        margin-bottom: 100px;
    }

    .more p {
        font-size: 17px;
    }

    .head-btn {
        position: absolute;
        z-index: 1;
        margin: 23em 0 6.1em 2.8em;
    }

    .btn-primary {
        font-size: 17px;
        line-height: 30%;
        display: none;
        display: none;
        overflow: hidden;
        height: 20px;
        margin: 30px -15px 10px;
        margin-right: 30px;
        padding: 10px 25px;
        transition: all 0.4s;
        color: rgb(18, 18, 22);
        color: #f1c95b;
        border: 2px solid #fbd22c;
        border: 0.15vh solid #926c2581;

        border-radius: 3vh;
        border-radius: 15px;
        background: #fbd22c;
        background-color: #2e241b;
        background-color: rgba(53, 31, 0, 0.288);
        backdrop-filter: blur(1vh);
    }

    .option {
        font-size: 14px;
        min-width: 80px;
        margin-right: 5px;
        padding: 5px;
        transition: all 0.4s;
        text-transform: uppercase;
        color: #ffffff;
    }

    .Landing-Con {
        position: absolute;
        top: 26%;
        right: 30%;
        overflow: hidden;
        width: 30em;
        height: 19em;
        border: 0.15vh solid #926c2581;

        border-radius: 15px;
        background-color: #2e241b;
        background-color: rgba(53, 31, 0, 0.288);
        mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));
        backdrop-filter: blur(1vh);
    }

    .Landing-Con::before {
        position: absolute;
        top: 0;
        left: -85%;
        width: 20%;
        height: 100%;
        content: '';
        transform: skewX(-45deg);
        animation: shiny 25s infinite;
        background: rgba(190, 137, 67, 0.041);
        backdrop-filter: blur(1vh);
    }

    .more {
        margin-bottom: 50px;
    }

    #intro {
        padding: 30px 0 50px;
    }

    #intro h2, #feature-2 h2 {
        font-weight: 150;
        text-align: center;
    }

    #intro p, #feature-2 p {
        text-align: center;
    }

    .btn-section {
        text-align: center;
    }

    #feature {
        padding-top: 75px;
    }

    .row-feat {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    #feature-2 {
        padding: 80px 0 100px;
    }

    .feature-2-pic {
        margin-top: 40px;
    }

    #client img {
        max-height: 40px;
        margin: 10px 0 10px;
    }
}

@media (min-width: 500px) and (max-width: 650px) {
    .chati {
        margin-left: 90%;
    }

    .Landing-Con {
    }
}

@media (min-width: 650px) and (max-width: 767px) {
    .chati {
        margin-left: 75%;
    }

    .Landing-Con {
        right: 40%;
    }
}


@media (max-width: 736px) {

}


@media (max-width: 667px) {
}


@media (max-width: 568px) {

}


@media (max-width: 480px) {
    .feat-list i {
        padding-left: 5px;
    }

    .action h2 {
        font-size: 30px;
    }
}


@media (max-width: 360px) {

}


@media (max-width: 320px) {
}

@media (min-width: 2200px)
and (min-height: 1200px) {
    .phase-info {
        height: 35vh;
    }

    .site-name img {
        width: 20vh;
    }
}

@media (max-height: 650px)
and (min-width: 750px) {
    .phase-info {
        height: 65vh;
    }
}

@media (min-width: 3000px)
and (min-height: 1800px) {
    .phase-info {
        height: 27vh;
    }

    .site-name img {
        width: 10vh;
    }

    .Landing-Con {
        position: absolute;
        top: 23%;
        overflow: hidden;
        width: 70em;
        height: 14em;
        border: 0.15vh solid #926c2581;

        border-radius: 15px;
        background-color: #2e241b;
        background-color: rgba(53, 31, 0, 0.288);
        mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));
        backdrop-filter: blur(1vh);
    }

    .chati {
        position: relative;
        z-index: 1;
        width: 4000vh;
        margin: 80px 0;
        margin-left: 140%;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;

        user-select: none;
        pointer-events: none;
        mask-image: linear-gradient(to bottom, transparent, black 10%, black 80%, transparent);
    }

    .head-btn {
        position: absolute;
        z-index: 1;
        margin: 23em 0 .1em 0em;
    }

    .submission-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: -20em;
        text-align: center;
        gap: 15px;
    }
}

@media (max-width: 1200px) {
    .requirements-wrapper {
        align-items: center;
        flex-direction: column;
    }

    .info-container-left,
    .info-container-right {
        width: 80%;
        margin-bottom: 3vh;

    }

    .info-container-right {
        width: 80%;
        height: 35em;
        margin-bottom: 3vh;

    }

    .clip-requirements-container {
        width: 90%;
    }

    .clip-requirements-container {
        font-size: 1rem;
        line-height: 1.5;
        width: fit-content;
        max-width: 900px;
        margin-bottom: 1vh;
        padding: 20px;
        animation: pulse-gold 5s infinite ease-in-out;
        text-align: left;
        color: #f1c95bb9;
        border: 0.15vh solid #926c2581;
        border-radius: 10px;
        background-color: rgba(53, 31, 0, 0.384);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    }
}