<div id="team-section">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center team-title">
                <h2>Team</h2>
                <p>Lerne unser Team kennen, die vor oder auch Hinter den Kulissen mithelfen.</p>
            </div>
        </div>
        <div class="row row-team">
            <div class="team-container">

                <div class="team-member">
                    <div class="team-status Founder">
                        <p>Host</p>
                    </div>
                    <a href="https://www.twitch.tv/frittiertboy">

                        <img alt="Member 1"
                             src="https://static-cdn.jtvnw.net/jtv_user_pictures/9079c28c-923a-41f4-a274-b54278879bff-profile_image-70x70.png">
                    </a>
                    <h4>Frittiertboy</h4>

                </div>
                <div class="team-member">
                    <div class="team-status Founder">
                        <p>Host</p>
                    </div>
                    <a href="https://www.twitch.tv/S4MARON">

                        <img alt="Member 1"
                             src="https://cdn.7tv.app/user/01FXQR7WZ8000C24JJ4Q8RGZRZ/profile-picture/01J9M9YYJR000044GNBVMYBCJE/3x.gif">
                    </a>
                    <h4>S4MARON</h4>

                </div>
                <div class="team-member">
                    <div class="team-status">
                        <p>SEO</p>
                    </div>
                    <a href="">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/a5e46b9e-9c16-44cc-8af6-d14aa6889402-profile_image-70x70.png">
                    </a>
                    <h4>Cpt. Kontrollauge</h4>

                </div>
                <div class="team-member">
                    <div class="team-status">
                        <p>Network</p>
                    </div>
                    <a href="">

                        <img alt="Member 1" src="images/no.png">
                    </a>
                    <h4>Heer GHG</h4>

                </div>
                <div class="team-member">
                    <div class="team-status">
                        <p>Network</p>
                    </div>
                    <a href="">

                        <img alt="Member 1"
                             src="https://static-cdn.jtvnw.net/jtv_user_pictures/f45e03ed-e548-4da7-b602-1f965d8e62f9-profile_image-70x70.png">
                    </a>
                    <h4>TheRealJackson</h4>

                </div>
                <div class="team-member">
                    <div class="team-status">
                        <p>Network</p>
                    </div>
                    <a href="https://www.twitch.tv/s4_froschoderso">

                        <img alt="Member 1"
                             src="https://static-cdn.jtvnw.net/jtv_user_pictures/2a0f1e53-2f64-4817-a1bd-e3129144ead4-profile_image-70x70.png">
                    </a>
                    <h4>Frosch</h4>

                </div>
                <div class="team-member">
                    <div class="team-status">
                        <p>Developer</p>
                    </div>
                    <a href="">

                        <img alt="Member 1"
                             src="https://static-cdn.jtvnw.net/jtv_user_pictures/3b5d2a34-6960-425f-b7ba-bc9d4f7b6b98-profile_image-70x70.png">
                    </a>
                    <h4>Timo</h4>

                </div>
                <div class="team-member">
                    <div class="team-status">
                        <p>Show</p>
                    </div>
                    <a href="https://www.twitch.tv/pedaale">

                        <img alt="Member 1"
                             src="https://static-cdn.jtvnw.net/jtv_user_pictures/aaa6d17d-0495-4214-ac0d-56a6d79b9695-profile_image-70x70.png">
                    </a>
                    <h4>Pedaale</h4>

                </div>
                <div class="team-member">
                    <div class="team-status">
                        <p></p>
                    </div>
                    <a href="https://www.twitch.tv/verku">

                        <img alt="Member 1"
                             src="https://static-cdn.jtvnw.net/jtv_user_pictures/55f21f31-7513-48c6-9141-62fbf653578c-profile_image-70x70.png">
                    </a>
                    <h4>Verku</h4>

                </div>
                <div class="team-member">
                    <div class="team-status">
                        <p></p>
                    </div>
                    <a href="https://www.twitch.tv/schnizelwolke">

                        <img alt="Member 1"
                             src="https://static-cdn.jtvnw.net/jtv_user_pictures/577ab112-3730-430d-98a9-d95a6b3ecff8-profile_image-70x70.png">
                    </a>
                    <h4>schnizelwolke</h4>

                </div>
                <div class="team-member">
                    <div class="team-status">
                        <p></p>
                    </div>
                    <a href="">

                        <img alt="Member 1"
                             src="images/no.png">
                    </a>
                    <h4>PepeCrazy</h4>

                </div>
                <div class="team-member">
                    <div class="team-status">
                        <p>Clip Ausw.</p>
                    </div>
                    <a href="https://www.twitch.tv/mt43">

                        <img alt="Member 1"
                             src="images/mt_profil.jpeg">
                    </a>
                    <h4>mt43</h4>

                </div>
                <div class="team-member">
                    <div class="team-status">
                        <p></p>
                    </div>
                    <a href="https://www.youtube.com/@AlpakaTV">

                        <img alt="Member 1"
                             src="https://yt3.ggpht.com/1D5ff7owync9tC0BRE3kwFz15zs1qdAEhQGa7NlL1MzSeDljD2Czo7WOVN-s_IPuMjjMjV38Xw=s48-c-k-c0x00ffffff-no-rj">
                    </a>
                    <h4>AlpakaTV</h4>

                </div>
                <div class="team-member">
                    <div class="team-status">
                        <p></p>
                    </div>
                    <a href="">

                        <img alt="Member 1"
                             src="images/IMG_3011.jpg">
                    </a>
                    <h4>xbubblesberry</h4>

                </div>
                <div class="team-member">
                    <div class="team-status">
                        <p></p>
                    </div>
                    <a href="https://www.twitch.tv/23raphi">

                        <img alt="Member 1"
                             src="https://static-cdn.jtvnw.net/jtv_user_pictures/c58806cb-21aa-4ba8-b460-1b40379a95e7-profile_image-70x70.png">
                    </a>
                    <h4>23raphi</h4>

                </div>
                <div class="team-member">
                    <div class="team-status">
                        <p></p>
                    </div>
                    <a href="https://www.youtube.com/@catdrox">

                        <img alt="Member 1"
                             src="https://yt3.ggpht.com/UpupOJrHXpoTfi-14VAHF5vkszkO8nXMVFMI-VBHQlYF7QnlJUJvEOROcWwvL9ORbFalC2ygsQ=s48-c-k-c0x00ffffff-no-rj">
                    </a>
                    <h4>catdrox</h4>

                </div>
                <div class="team-member">
                    <div class="team-status">
                        <p></p>
                    </div>
                    <a href="https://www.twitch.tv/StonedPeepo">

                        <img alt="Member 1"
                             src="https://static-cdn.jtvnw.net/jtv_user_pictures/009119e2-cc97-4299-8586-6e15612e2756-profile_image-70x70.png">
                    </a>
                    <h4>StonedPeepo</h4>

                </div>
                <div class="team-member">
                    <div class="team-status">
                        <p>Clip Ausw.</p>
                    </div>
                    <a href="https://www.twitch.tv/baer_lolmy">

                        <img alt="Member 1"
                             src="https://static-cdn.jtvnw.net/jtv_user_pictures/b6c46cd5-7614-48b0-9d9c-759a98e51202-profile_image-70x70.png">
                    </a>
                    <h4>Lolmy</h4>

                </div>
                <div class="team-member">
                    <div class="team-status">
                        <p></p>
                    </div>
                    <a href="https://www.twitch.tv/kcb161">

                        <img alt="Member 1"
                             src="https://static-cdn.jtvnw.net/jtv_user_pictures/badfa13c-8a82-4322-838d-366448387d2f-profile_image-70x70.png">
                    </a>
                    <h4>kcb161</h4>

                </div>
                <div class="team-member">
                    <div class="team-status">
                        <p></p>
                    </div>
                    <a href="https://www.twitch.tv/can1kz">

                        <img alt="Member 1"
                             src="https://static-cdn.jtvnw.net/jtv_user_pictures/c2936ef9-54eb-41ed-b277-d050d40bf465-profile_image-70x70.png">
                    </a>
                    <h4>Can1kz</h4>

                </div>
                <div class="team-member">
                    <div class="team-status">
                        <p></p>
                    </div>
                    <a href="">

                        <img alt="Member 1"
                             src="https://static-cdn.jtvnw.net/jtv_user_pictures/3337d366-0158-46d6-a488-019cf79380dd-profile_image-70x70.png">
                    </a>
                    <h4>NicxARC</h4>

                </div>
                <div class="team-member">
                    <div class="team-status">
                        <p></p>
                    </div>
                    <a href="">

                        <img alt="Member 1"
                             src="images/no.png">
                    </a>
                    <h4>Nele</h4>

                </div>
                <div class="team-member">
                    <div class="team-status">
                        <p></p>
                    </div>
                    <a href="">

                        <img alt="Member 1"
                             src="images/no.png">
                    </a>
                    <h4>Vace</h4>

                </div>
                <div class="team-member">
                    <div class="team-status">
                        <p></p>
                    </div>
                    <a href="https://www.twitch.tv/justfinja">

                        <img alt="Member 1"
                             src="https://static-cdn.jtvnw.net/jtv_user_pictures/9ae8fc0a-dfe1-4d4e-8293-84c643036257-profile_image-70x70.png">
                    </a>
                    <h4>JustFinja</h4>

                </div>


            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center team-title">
                <h2>Supporter</h2>
                <p>Lerne Streamer kennen, die das Event unterstützen.</p>
            </div>
        </div>
        <div class="row row-team">
            <div class="team-container">
                <div class="team-member">
                    <a href="https://www.twitch.tv/w0nderwil">

                        <img alt="Member 1"
                             src="https://static-cdn.jtvnw.net/jtv_user_pictures/c14e5f63-1b7e-42d2-aa1b-c61e701d57da-profile_image-70x70.png">
                    </a>
                    <h4>w0nderwil</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/moglei">

                        <img alt="Member 1"
                             src="https://static-cdn.jtvnw.net/jtv_user_pictures/0d5bcea1-d7f5-428d-8121-c39f2cec8f87-profile_image-70x70.png">
                    </a>
                    <h4>Moglei</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/foxroyaI">

                        <img alt="Member 1"
                             src="https://static-cdn.jtvnw.net/jtv_user_pictures/a56525a3-b56e-4789-83e5-b072a92e71ff-profile_image-70x70.png">
                    </a>
                    <h4>FoxRoyal</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/lerokes">

                        <img alt="Member 1"
                             src="https://static-cdn.jtvnw.net/jtv_user_pictures/ed2d0878-faf0-4ba8-aa77-16eaab0eaad8-profile_image-70x70.png">
                    </a>
                    <h4>Lerokes</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/imaggeee">

                        <img alt="Member 1"
                             src="https://static-cdn.jtvnw.net/jtv_user_pictures/fd4c1487-3090-4ac5-8e86-51b3338386bb-profile_image-70x70.png">
                    </a>
                    <h4>IMaggeee</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/einfach_dee">

                        <img alt="Member 1"
                             src="https://static-cdn.jtvnw.net/jtv_user_pictures/789e8411-287e-46e0-a127-d96d76a5ebc5-profile_image-70x70.png">
                    </a>
                    <h4>einfach_dee</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/xneyco">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/f934a69e-c553-4986-9dbd-343fa7ba23f7-profile_image-70x70.png">
                    </a>
                    <h4>xNeyco</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/degamore">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/c930b4a4-ec78-4235-8ba2-cdad3151668a-profile_image-70x70.png">
                    </a>
                    <h4>degamore</h4>

                </div>
                <div class="team-member">
                    <div class="team-status Founder">
                        <p>Host</p>
                    </div>
                    <a href="https://www.twitch.tv/frittiertboy">

                        <img alt="Member 1"
                             src="https://static-cdn.jtvnw.net/jtv_user_pictures/9079c28c-923a-41f4-a274-b54278879bff-profile_image-70x70.png">
                    </a>
                    <h4>Frittiertboy</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/nimmbaa">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/67c74b92-f1db-4d3b-8ad4-995587aa05cc-profile_image-70x70.png">
                    </a>
                    <h4>nimmba</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/lordpisswasser">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/c57edf4f-7413-4906-8de8-57944b9b6e28-profile_image-70x70.png">
                    </a>
                    <h4>Lordpisswasser</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/kingofgtom">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/74da7608-d9b0-466f-916b-346e61b3ff2a-profile_image-70x70.png">
                    </a>
                    <h4>KingOfGtoM</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/invormativ">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/95e822d3-2ecc-46c0-9639-323fabf0cf1d-profile_image-70x70.png">
                    </a>
                    <h4>invormativ</h4>

                </div>
                <div class="team-member">
                    <div class="team-status Founder">
                        <p>Host</p>
                    </div>
                    <a href="https://www.twitch.tv/S4MARON">

                        <img alt="Member 1"
                             src="https://cdn.7tv.app/user/01FXQR7WZ8000C24JJ4Q8RGZRZ/profile-picture/01J9M9YYJR000044GNBVMYBCJE/3x.gif">
                    </a>
                    <h4>S4MARON</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/zflockii">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/60953baf-7684-43b6-9dce-d07f538e9661-profile_image-70x70.png">
                    </a>
                    <h4>zflockii</h4>

                </div>

                <div class="team-member">
                    <a href="https://www.twitch.tv/marcelements">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/d73bbe25-866e-4dca-93db-9404d01349e9-profile_image-70x70.png">
                    </a>
                    <h4>marcelements</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/jamienichtjames">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/6237449e-66a8-4a2c-b0f6-0c76dedb7d28-profile_image-70x70.png">
                    </a>
                    <h4>jamienichtjames</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/danielvansnipes">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/e7543e78-0d98-414c-8600-c623782ba599-profile_image-70x70.png">
                    </a>
                    <h4>DanielVanSnipes</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/wettermann_">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/3985da08-d592-4669-9879-ad5f110631a6-profile_image-70x70.png">
                    </a>
                    <h4>Wettermann_</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/getrekt2104">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/4760fdc7-483e-4d40-983d-cf9ec4566ccd-profile_image-70x70.png">
                    </a>
                    <h4>GetRekt2104</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/styxenia">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/1e386519-eb4a-42b7-9129-bef29dc45b97-profile_image-70x70.png">
                    </a>
                    <h4>StyXenia</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/quertixxttv">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/71559037-6618-4fe8-a7e4-acb77be0c807-profile_image-70x70.png">
                    </a>
                    <h4>Quertixxttv</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/kyrox_at">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/b7e9b0f9-34e6-4e15-9010-73ac39f163b6-profile_image-70x70.png">
                    </a>
                    <h4>Kyrox_at</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/zlogischsw">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/ade95b7f-bf20-46bf-a548-192bee0e61f1-profile_image-70x70.png">
                    </a>
                    <h4>zLogischSW</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/sirexpert_">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/fa335c8c-3ca8-4ddf-a212-0146c2f88484-profile_image-70x70.png">
                    </a>
                    <h4>Sirexpert_</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/einnetro">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/fef1bcf1-daf2-4bab-94ee-4d58c473ce2e-profile_image-70x70.png">
                    </a>
                    <h4>EinNetro</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/2_flying_uwe">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/97706d4b-15f3-4117-a356-168f6f52e62c-profile_image-70x70.png">
                    </a>
                    <h4>2_flying_uwe</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/uzunaa">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/eae79125-f155-49bc-b217-4868e59462d5-profile_image-70x70.jpeg">
                    </a>
                    <h4>Uzunaa</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/clayten">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/4aee2d3d-773b-40e8-8617-d18061eda94b-profile_image-70x70.png">
                    </a>
                    <h4>Clayten</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/verboxter">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/b873b839-9328-4c34-be6c-14d20f754c43-profile_image-70x70.png">
                    </a>
                    <h4>Verboxter</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/einfachdings">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/13be68fd-faa7-49a1-b51d-9a53125837f1-profile_image-70x70.png">
                    </a>
                    <h4>einfachdings</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/miilanee">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/6db9bd81-1798-495c-8881-2e4d07b7b7ee-profile_image-70x70.png">
                    </a>
                    <h4>miilanee</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/mdracon">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/e170e0ae-4671-41de-adc8-3f5094734f3c-profile_image-70x70.png">
                    </a>
                    <h4>MDracon</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/bottee__">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/fd013118-b3ad-47f9-aec5-1c9bd9fb3ea2-profile_image-70x70.png">
                    </a>
                    <h4>bottee__</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/derdickemichiiii">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/3992fcc9-6de5-4a45-b976-dcba1cf30aed-profile_image-70x70.png">
                    </a>
                    <h4>DerDickeMichiiii</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/bymaqical">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/0188dc19-9ecb-42fd-a272-a37423d961e5-profile_image-70x70.png">
                    </a>
                    <h4>byMaqical</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/erdnusskopp/videos">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/277c351c-c1d0-4147-9990-ff7b734b2b62-profile_image-70x70.png">
                    </a>
                    <h4>ErdnussKopp</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/juzudo">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/0bf89d76-2cfb-46c3-9d5d-92b2c09d66a5-profile_image-70x70.png">
                    </a>
                    <h4>juzudo</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/pilotenluz">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/beb825bb-92d5-4106-ab77-e916beef0366-profile_image-70x70.png">
                    </a>
                    <h4>Pilotenluz</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/byjasmiiiin">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/b19b8983-3a2e-43cf-b5f9-4d56594327c5-profile_image-70x70.png">
                    </a>
                    <h4>ByJasmiiiin</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/oparicoyt">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/c50365fa-8bb6-48a0-b44b-90b05c306a19-profile_image-70x70.jpeg">
                    </a>
                    <h4>OpaRicoYT</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/yuukiwuu">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/2a062e54-8afd-4de0-959d-d5f04b482c76-profile_image-70x70.png">
                    </a>
                    <h4>YuukiWuu</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/papriga">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/fdac493d-5de0-41c9-92a8-4cdf96898a5f-profile_image-70x70.png">
                    </a>
                    <h4>papriga</h4>

                </div>
                <!-- <div class="team-member">
                    <a href="https://www.twitch.tv/lucblauhd">
      
                        <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/11742955-0978-4f69-8f82-8125a7902a35-profile_image-70x70.png" alt="Member 1">
                    </a>
                    <h4>LucblauHD</h4>
      
                </div> -->
                <div class="team-member">
                    <a href="https://www.twitch.tv/schmuli__">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/fcb02f70-fd82-4b77-8bc8-f2aa23f9b242-profile_image-70x70.png">
                    </a>
                    <h4>schmuli__</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/fylumenius">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/f2951347-820b-428a-a2bc-e8fa709bba2e-profile_image-70x70.png">
                    </a>
                    <h4>Fylumenius</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/jan0schi">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/d32bd503-24aa-42d0-9a23-ba3a68bd803c-profile_image-70x70.png">
                    </a>
                    <h4>Jan0schi</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/katrinkatjuscha">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/bf1820c1-06f6-45e0-8d27-230ba7e8662e-profile_image-70x70.png">
                    </a>
                    <h4>KatrinKatjuscha</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/dreix31">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/7de16db1-55e4-4539-8f37-07e085086ab5-profile_image-70x70.png">
                    </a>
                    <h4>DreiX31</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/hynamorii">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/e5aebb7d-ce51-497a-ab63-d9d8b2b7d235-profile_image-70x70.png">
                    </a>
                    <h4>Hynamorii</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/mareex_">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/8727b1eb-8f09-43f6-9b63-8c5347b9ecc1-profile_image-70x70.png">
                    </a>
                    <h4>mareex_</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/angieeeeee">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/c872d728-8455-4c43-970c-290868c8e5f5-profile_image-70x70.png">
                    </a>
                    <h4>angieeeeee</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/lexoleni">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/d9b19a4c-317e-4cef-be71-667e7ec2670b-profile_image-70x70.png">
                    </a>
                    <h4>LexoLeni</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/pacboya1">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/6d8e421e-b09a-46b9-819d-918fdb411a44-profile_image-70x70.png">
                    </a>
                    <h4>PacboyA1</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/spaddyzockt">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/34022f1c-580b-4476-a3b7-413578cefb1a-profile_image-70x70.png">
                    </a>
                    <h4>Spaddyzockt</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/lordzaros_">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/c1f66202-c2c5-46ca-9fe2-4218c0ddb62c-profile_image-70x70.jpeg">
                    </a>
                    <h4>lordzaros_</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/vanutella">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/bf099fd1-e3a9-439b-baf2-dd6bd3cfbbc2-profile_image-70x70.png">
                    </a>
                    <h4>vanutella</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/jamy_mit_y">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/fe114ba9-d85c-437f-9899-c8c231665347-profile_image-70x70.jpeg">
                    </a>
                    <h4>Jamy_mit_Y</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/pandorsaurus">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/11cfc6bb-eed4-4c67-9dba-13e00316c871-profile_image-70x70.png">
                    </a>
                    <h4>Pandorsaurus</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/njushka">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/1bad6844-2c03-4b0b-ab82-1632f420f0a3-profile_image-70x70.png">
                    </a>
                    <h4>njushka</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/mommmme">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/3fe48061-f230-4802-a9e9-e19375399de6-profile_image-70x70.png">
                    </a>
                    <h4>MOMMMME</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/ohayo_vt">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/9a80bbab-01b8-4fcd-b45f-7c4e1a36944b-profile_image-70x70.png">
                    </a>
                    <h4>OHAYO_vt</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/nxghtw1tch">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/58b043d8-df56-4651-ba9a-b151f2874913-profile_image-70x70.png">
                    </a>
                    <h4>nxghtw1tch</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/knxvilleone">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/34a9b26e-ab31-4d0b-9711-62d2b2ad6dcb-profile_image-70x70.png">
                    </a>
                    <h4>knxvilleONE</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/zringraid">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/36aa45de-fea6-4d7a-a078-7cc64299e6cd-profile_image-70x70.png">
                    </a>
                    <h4>zRingraid</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/wandellax">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/398f00da-aa7c-4171-8a50-0a6ceb8eb2f1-profile_image-70x70.png">
                    </a>
                    <h4>Wandellax</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/itsnax0">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/ac482095-d5ca-462a-97fe-a47ec466702d-profile_image-70x70.png">
                    </a>
                    <h4>itsNax0</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/icyvace">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/1f891da2-59d2-4229-b2c7-a96a5850bfe0-profile_image-70x70.png">
                    </a>
                    <h4>icyVACE</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/minooo99_">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/010c0ba6-8bb4-4df0-9e7d-9fa64bfe57ea-profile_image-70x70.jpeg">
                    </a>
                    <h4>Minooo99_</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/pixelstefan">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/dd83ddb5-e69c-499b-aec8-0e72ad929ef9-profile_image-70x70.png">
                    </a>
                    <h4>pixelstefan</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/theseinetv">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/f0b21c61-b025-4c3f-bf85-3f128ee97c86-profile_image-70x70.jpeg">
                    </a>
                    <h4>TheSeineTV</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/vantasticngt">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/22ef6d0d-ea32-440a-a468-89fc9dc8f264-profile_image-70x70.jpeg">
                    </a>
                    <h4>VantasticNGT</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/xTornadotommy">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/ad1c431b-f7b6-4899-9a9c-f15f2882e4d0-profile_image-70x70.png">
                    </a>
                    <h4>xtornadotommy</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/teekqu">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/b9d7ac65-d00f-4cb0-8124-ef7f6777b69c-profile_image-70x70.png">
                    </a>
                    <h4>Teekqu</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/cronixval">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/522823f6-497e-40aa-a1e8-62cad46270f1-profile_image-70x70.png">
                    </a>
                    <h4>cronixval</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/einjulchen">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/e229c676-1a85-467a-af48-2f9ce6f0730d-profile_image-70x70.png">
                    </a>
                    <h4>einjulchen</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/joedom_">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/148474a9-bdc0-4d63-b79a-748b6af31f04-profile_image-70x70.png">
                    </a>
                    <h4>JoeDom_</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/xoxogledi">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/db31cd74-3bdd-4a6c-aa54-872e85364903-profile_image-70x70.png">
                    </a>
                    <h4>xoxoGledi</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/lilayleen">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/ceae7ed6-11ca-4219-af54-17a48faf644c-profile_image-70x70.png">
                    </a>
                    <h4>lilayleen</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/janskii_">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/33dbb782-c5e0-49b6-b963-2b6d6cdba65d-profile_image-70x70.png">
                    </a>
                    <h4>janskii_</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/uniqatuniqat">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/c3d135f8-06b3-4053-a225-aca1ae814cb2-profile_image-70x70.png">
                    </a>
                    <h4>uniqatuniqat</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/pommeskiwi">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/8d9fc65a-5866-4b45-841b-e41fb122d57b-profile_image-70x70.png">
                    </a>
                    <h4>PommesKiwi</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/aniishka">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/5ce0b6e6-80db-4c3f-a070-1398689a26d5-profile_image-70x70.png">
                    </a>
                    <h4>Aniishka</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/maaareq">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/18729d54-f88c-4766-a743-3edf4893022a-profile_image-70x70.png">
                    </a>
                    <h4>maaareq</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/desmopsel">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/de7fa50f-9902-4bf3-b7cf-186c135d9086-profile_image-70x70.png">
                    </a>
                    <h4>DesMopsel</h4>

                </div>
                <div class="team-member">
                    <a href="https://www.twitch.tv/zweimpeter">

                        <img alt="Member 1" src="https://static-cdn.jtvnw.net/jtv_user_pictures/c6b67eb2-ecd7-42e9-b1a9-28947dc8ac2d-profile_image-70x70.png">
                    </a>
                    <h4>ZweiMPeter</h4>

                </div>


            </div>
        </div>
    </div>

</div>